@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    
    
}

.cont_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    box-shadow: 3px 7px 11px 3px rgba(0,0,0,0.77);
    
}

.form h2{
    font-size: 1.8em;
    margin-bottom: 10%;
    color: #D6E1F2;
    text-align: center;
}

.cont_input{
    width: 400px;
    border-radius: 22px;
    border: 2px solid #6f7e8a;
    padding: 5px;
    margin: 0px 0px 12px -5px;
    display: flex;
    align-items: center;
    color: #D6E1F2;
    
}
.form label{
    color: #D6E1F2;
    
}
.cont_input svg{
    font-size: 35px;
    padding: 5px;
    background-color: aqua;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cont_input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: 'poppins';
    transform: translateY(-10%);
    color: #D6E1F2;
    background-color: #000;
}

.btn{
    
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

.btn button{
    font-family: 'poppins';
    background-color: #4052F3;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}


.btn button:hover{
    background-color: rgb(0, 0, 182);
    transform: scale(1.1);
    transition: all 0.5s;
    color: #D6E1F2;
}

.btn2 button{
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    background-color: #4052F3;
    border: none;
}

.btn2 svg{
    font-size: 35px;
    color: #D6E1F2;
}



@media (max-width: 1440px) { 

    .cont_input{
        min-width: 280px;
        border-radius: 22px;
        border: 2px solid #6f7e8a;
        padding: 5px;
        margin: 0px 0px 12px -5px;
        display: flex;
        align-items: center;
        color: #D6E1F2;
        
    }
    .cont_input svg{
        font-size: 30px;
        padding: 5px;
        background-color: aqua;
        color: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
 }